<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h3 class="fw-bold">About</h3>
    <p>
      I am currently an MSc. student of <a href="https://ucl-ellis.github.io">Computational Statistics and Machine Learning (CSML)</a> at <a href="https://www.ucl.ac.uk">University College London</a>.
    </p>
    <p>
        Previously, I was a Machine Learning Engineer at <a href="https://www.revolut.com">Revolut</a> where I developed and productionised Gaussian Process models for time-series forecasting, transformer-based NLP models for customer support automation, and LSTM-based models for user personalisation.
    </p>
    <p>
      I completed my BASc. in <a href="https://engsci.utoronto.ca/">Engineering Science</a> at the <a href="https://www.utoronto.ca/">University of Toronto</a>.
      </p>
      <p>
      My current research interests lie in the areas of approximate inference, computational statistics, and machine learning. Please feel free to check out <a href="https://github.com/jswu18">Github account</a> and <a href="james_wu_resume.pdf">my resume</a>!
    </p>
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/head-shot.jpg" alt="About" width="90%">
  </div>
</div>